.combo-box{
    -fx-border-color:#367bf5;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-border-width:1px;
    -fx-effect: none;
    -fx-border-insets: 5px;
    -fx-min-width: 200px;
    -fx-focus-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 30px;
}