.paragraph {
    -fx-font-size: 25px;
    -fx-padding: 5px;
    -fx-text-fill: #777;
}
.info {
    -fx-font-size: 15px;
    -fx-padding: 5px;
}
.header1 {
    -fx-font-size: 50px;
    -fx-text-fill: #333333;
    -fx-padding: 5px;
}
.header2 {
    -fx-font-size: 40px;
    -fx-text-fill: #367bf5;
    -fx-padding: 5px;
}
.header3 {
    -fx-font-size: 30px;
    -fx-text-fill: #458cff;
    -fx-padding: 5px;
}

.subscription_header{
    -fx-font-size: 20px;
    -fx-text-fill: #367bf5;
    -fx-padding: 5px;
}
.subscription_label{
    -fx-font-size: 15px;
    -fx-text-fill: #333333;
    -fx-padding: 5px;
}
.subscription_footer{
    -fx-font-size: 20px;
    -fx-text-fill: #367bf5;
    -fx-padding: 5px;
}