.menu_item {
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-alignment: center;
}
.menu_item:hover{
    -fx-background-color: #F3F3F3;
}

.menu_label {
    -fx-font-size: 15px;
    -fx-text-fill: #367bf5;
    -fx-pref-width: 300px;
    -fx-alignment: center;
    -fx-padding: 5px;
}